<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only color="primary" 
        (click)="btnPerson()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center></ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary"
        (click)="navPush(childPage.searchStorePage)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-list>-->
  <!--  <button ion-item  *ngFor="let item of keys" (click)="navPush(childPage[item])">-->
  <!--    {{ childPage[item].title }}-->
  <!--  </button>-->
  <!--</ion-list>-->
  
  <ion-slides pager style="height: 30%; " autoplay="2000" loop>
    <ion-slide>
      <img src="assets/dart1.jpg" style="width: 100%">
    </ion-slide>
    <ion-slide>
      <img src="assets/dart2.jpg" style="width: 100%">
      <!--<h2>Slide 2</h2>-->
    </ion-slide>
    <ion-slide>
      <img src="assets/dart3.jpg" style="width: 100%">
      <!--<h2>Slide 3</h2>-->
    </ion-slide>
  </ion-slides>
  
  <!--<ion-buttons start>-->
  <button ion-button clear style="margin:12px 0; width:32%;height:auto"
    (click)="navPush(childPage.cardRechargePage)">
    <div>
      <ion-icon name="logo-yen" class="icon-size"></ion-icon>
      <br>
      <label>{{ childPage.cardRechargePage.title }}</label>
    </div>
  </button>    
  <button ion-button clear style="margin:12px 0; width:32%; height:auto"
    (click)="navPush(childPage.noticePage)">
    <div>
      <ion-icon name="alert" class="icon-size"></ion-icon>
      <br>
      <label>{{ childPage.noticePage.title }}</label>
    </div>
  </button>
  <button ion-button clear style="margin:12px 0; width:32%;height:auto"
    (click)="navPush(childPage.mapPage)">
    <div>
      <ion-icon name="map" class="icon-size"></ion-icon>
      <br>
      <label>{{ childPage.mapPage.title }}</label>
    </div>
  </button>
  
  <hr />
  
  <!-- ranking -->
  <ion-list>
    
  </ion-list>
  
  <!-- Store list -->
  <ion-list>
    <button ion-item style="padding:0"  *ngFor="let storeList of store">
      <ion-thumbnail item-left>
        <img src="{{ storeList.picture }}">
      </ion-thumbnail>
      <h2 style="margin:0">{{ storeList.label }}</h2>
      <h3>{{ storeList.distance }}m</h3>
      <p>{{ storeList.address }}</p>
    </button>
  </ion-list>
  <div style="text-align: center">更多</div>
  
</ion-content>

